<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="../estilos/estiloformulario.css">
</head>
<body>
    <!-- cab -->
    <div class="cabecera">
        <h1>my website</h1>
        <p>Hecho por mi</p>
    </div>
    <!-- menu -->
    <header>
        <nav>
             <div class="menunav">
                <ul>
                    <li><a href="../index.html">Indice</a></li>
                    <li><a href="../views/Enlace1.html">Contacto</a></li>
                    <li><a href="../views/Enlace2.html">Enlaces</a></li>
                    <li><a href="../views/Enlace3.html">Galeria</a></li>
                    <li><a href="#">Presupuesto</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- formulario -->

    <div class="container">
        <h1>Solicita tu Presupuesto</h1>
        <form action="#" method="post">
            <div class="grupoform">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            <div class="grupoform">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="grupoform">
                <label for="telefono">Telefono:</label>
                <input type="tel" id="telefono" name="telefono" required>
            </div>
            <div class="grupoform">
                <label for="informacion">Solicite mas informacion:</label>
                <textarea name="informacion" id="informacion" rows="4" required></textarea>
            </div>
            <div class="grupoform">
                <input type="checkbox" name="politica" id="politica" required>
                <label for="politica">Acepto la <a href="#">Politica de Privacidad</a></label>
            </div>
            <div class="grupoform">
                <button type="submit">Enviar</button>
            </div>
        </form>

    </div>

   
   
    <footer class="footer">
        <div class="content">
            <p>&copy; 2025 My website. Todos los derechos reservados.</p>
            <div class="redes">
                <a href="https://instagram.com/alfre.parra" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram">
                    @alfre.parra
                </a>
                <a href="https://x.com/#" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/en/6/60/X_logo.png" alt="X">
                    @Alfre.parra
                </a>
            </div>
        </div>
        <div class="direccion">
            <p>Calle Ejemplo 123, Madrid, Spain</p>
        </div>
    </footer>
    
</body>
</html>